---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Sidebar from '../components/Sidebar.astro';
import ArticleItem from '../components/ArticleItem.astro';
---

<Layout title="Hola">
	<div class="grid md:grid-cols-3 gap-8">
		<div class="md:col-span-2">
			<Hero />
		</div>
		<Sidebar />
	</div>
	<div class="grid md:grid-cols-3 gap-8 mt-12">
		<ArticleItem 
			number="01" 
			title="Reviving Retro PCs" 
			text="What happens when old PCs are given modern upgrades?" 
			img="assets/images/image-retro-pcs.jpg"
		/>

		<ArticleItem
			number="02"
			title="Top 10 Laptops of 2022"
			text="Our best picks for various needs and budgets"
			img="assets/images/image-top-laptops.jpg"
		/>

		<ArticleItem
			number="03"
			title="The Growth of Gaming"
			text="How the pandemic has sparked fresh opportunitites"
			img="assets/images/image-gaming-growth.jpg"
		/>
	</div>
</Layout>
