---
const { number, title, text, img } = Astro.props;
---

<div class="flex gap-4">
    <img src={img} alt="image" class="w-24 object-cover">
    <div>
        <p class="text-red-400 text-2xl font-bold">
            {number}
        </p>

        <h4 class="font-bold hover:text-red-400 cursor-pointer">
            {title}
        </h4>

        <p class="text-gray-500 text-sm">
            {text}
        </p>
        
    </div>
</div>