<section>
    <img src="/public/assets/images/image-web-3-desktop.jpg" alt="" class="w-full mb-6">
    <div class="grid md:grid-col-2 gap-6">
        <h2 class="text-5xl font-extrabold leading-tight">The Bright Future of Web 3.0?</h2>

        <div class="flex flex-col justify-between">
            <p class="text-gray-500">
                We dive into next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling it's promisse?
            </p>
            <button class="bg-red-400 text-white px-6 py-3 w-fit mt-4 trackimg-widest hover:bg-black">
                READ MORE
            </button>
        </div>
    </div>
</section>